<%- include('partials/header') %>
    <!DOCTYPE html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style>
        h1 {
            margin-top: 100px;
        }

        .policies{
            margin-left: 10px;
        }
    </style>

    <body>
        <h1 style="padding-left: 1vw; text-decoration: underline;">Business Policies:</h1>
        
        <div class="policies">
            <br><br>
            <h3>Privacy Policy:</h3>           
            <div>
                <p>
                    We know that you care how information about you is used and shared, and we appreciate your trust that we will do 
                    so carefully and sensibly. This Privacy Notice describes how IcyCards.com collects and processes your personal 
                    information through IcyCards websites, products, services, and online By using IcyCards.com, you are consenting to the practices 
                    described in this Privacy Notice.

                </p>
            </div>
            <br><br>
            <h3>Refund Policy:</h3>           
            <div style="margin-bottom: 20px;">
                <p>
                    There is a no-refund policy here at Icy Cards. Here at Icy Cards, we take great pride in distributing 
                    our cards in the condition that you were expecting That being said, 
                    unforeseeable mistakes can happen and our customers' satisfaction means the most to us. Therefore, 
                    if any merchandise is damaged full returns will be issued.
                  
                </p>
            </div>
        </div>
    </body>
    <%- include('partials/footer') %>
    </html>